
.fullname{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 2%;
	font-size: 2em;
	text-decoration: underline #a10509;
}

.titlediv{
	text-align: center;
	background: white;
}
.image{
	left: 30%;
	top: 10%;
	width: 35%;
	position: absolute;
}
