#title {
  font-size: 4em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  letter-spacing: 8px;
  margin: 30px 0px 15px 0px;
  text-shadow: 5px 5px 5px grey;
}
button a{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}
button{
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: black;
}
.titlediv{
	text-align: center;
}
